@{
    ViewData["Title"] = "Error";
}

<div style="text-align:center; padding: 50px;">
    <h1 style="font-size: 60px; color: #cc0000;">Oops!</h1>
    <h3>Something went wrong.</h3>
    <p>Please contact <strong>Stellar Technologies</strong> if the issue persists.</p>
  
</div>